html {
  font-size: 18px;
}

body {
  font-family: helvetica;
  color: white;
  width: 960px;
  width: 100%;
}

/* Header section */

.header {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.logoline {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  font-size: 1rem;
  background-color: black;
}

.logoline img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.headerimage {
  background-image: url("../images/moto.jpeg");
  background-color: inherit;
  height: 25rem;
  font-weight: bold;
  background-size: cover;
}

.headerimage .container {
  padding-top: 9rem;
}
.headerimagecontent {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 20rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 3rem;
}

.headerimagecontent h5 {
  font-size: 1rem;
}

.headerimagecontent h2 {
  font-size: 2rem;
}

.navbar {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: firebrick;
  padding: 0.75rem 0;
  font-weight: bold;
}

.navbar .menuitem {
  display: none;
}

.gallery {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}
.image {
  display: flex;
  flex-direction: column;
  border: 4px solid black;
  width: 30%;
  align-items: center;
}
.image img {
  height: 9rem;
  margin: 2rem 0 auto;
  padding-bottom: 2rem;
  max-width: 8rem;
}

.image p {
  background: black;
  border: 1px solid black;
  text-align: center;
  font-weight: bold;
  padding: 0.5rem 0rem;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
  margin: 3rem 0 0 0;
}

.location {
  display: block;
  padding-bottom: 4rem;
  width: 35%;
}

.location .top {
  display: block;
  background: black;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  color: white;
}

.location span {
  color: black;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Footer Section */

.footer {
  background-color: black;
  height: 5rem;
  text-align: left;
  display: block;
}

.footer p {
  line-height: 5rem;
}

@media only screen and (max-width: 1024px) {
  #glasses {
    display: none;
  }
  .image {
    width: 47%;
  }
  .navbar .item {
    display: none;
  }
  .navbar .menuitem {
    display: block;
  }
  @media only screen and (max-width: 470px;) {
    .logoline span {
      display: none;
    }
    .headerimage .container {
      align-items: flex-end;
    }
  }
}
